@font-face {
    font-family: 'CustomFont';
    src: url('fontss/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('woff2'),
        url('fontss/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('woff');
    /* Add additional font file formats if necessary */
    /* You can also specify font-weight and font-style properties if needed */
}



.container-fluid-main{
    background-image: url('images/wepik-export-20230911170142VBOh.png');
    background-repeat: none;
    background-position: center;
    background-size: cover ;
    padding: 3% 10% ;
}
.container-fluid-main p{
    color: rgb(214, 211, 211);
}
.navbar-brand img{
    width: 25%;
    height: 11%;
}
.nav-item a{
    font-family: 'CustomFont';
    margin-left: 26px;
}
h1{
    font-family: 'CustomFont';
    color: rgb(214, 211, 211);
    font-weight: bold;
}

.home h1{
    padding: 8% 0 0 0;
}

.home a{
    margin: 5% 0%;
    
}

.button {
    background: linear-gradient(90deg, #004aad, #cb6ce6);
    border: none;
    color: white;
    width: 23%;
    height: 9%;
    margin: 5% 0;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    opacity: 0.8;
}
.container{
    padding: 10% 0;
}
.container p, .container h1{
    padding: 2% 0;
    

}
.second img{
    width: 90%;
    height: 110%;
    margin: 0 0 0 14%;
}
.second-con h1{
    color: rgb(94, 91, 91);
    margin: 20% 0 0 0;
}
.second-con p {
    color: rgb(43, 42, 42);
    font-size: 90%;
        padding: 0% 32% 3% 0%;
        letter-spacing: 0.07em;
    font-family: 'CustomFont';
}
.second-con{
    padding: 10% 2% 5% 2%;
}

.third img {
    width: 95%;
    height: 75%;
    margin: 6% 0 0 1%;
}

.third-con {
    padding: 15% 2% 5% 2%;
}

.third-con h1{
    color: rgb(94, 91, 91);
}
.third-con p {
    color: rgb(43, 42, 42);
    font-size: 90%;
        padding: 0% 32% 3% 0%;
        letter-spacing: 0.07em;
    font-family: 'CustomFont';
}
.fourth-con h1 {
    color: rgb(94, 91, 91);
    margin-top: 8%;
}

.fourth-con p {
    color: rgb(43, 42, 42);
    font-size: 90%;
        padding: 0% 32% 3% 0%;
        letter-spacing: 0.07em;
    font-family: 'CustomFont';
}
.fourth img {
    width: 100%;
    height: 100%;
    margin: 1% 0 0 0%;
}

.fourth-con {
    padding: 12% 3% 5% 3%;
}
/* footer{
    max-width: 100%;
    max-height: 30%;
    height: 30%;
} */

.cent{
    width: 100%;
    height: 30%;
    padding: -300px 100px;
}


/*footer*/
.col_white_amrc {
    color: #FFF;
}

/* footer {
    width: 100%;
    background-color: #263238;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
} */

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}



.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}
.footer p{
    font-style: normal;
}
.footer{
    background-image: url('images/wepik-export-20230914061921bwbs.png');
    background-repeat: none;
    background-position: center;
    background-size: cover;
    padding: 3% 10%;
    
}